{% extends 'base.html.twig' %}

{% block title %}
    Destockage
{% endblock %}

{% block section %}
<div id='modal-wrapper'></div>

    <h2>Produits remisés</h2>
        {% if sumProductVisibility >= 3 %}
            <div class="productsMax">
                Nombre max de produits remisés atteints
            </div>
        {% endif %}

    {% for prod in products %}
        <div>
            <div class="borderUpdateProduct">
                 <h3>{{ prod.priority }} - {{ prod.title }}</h3>
                <h4>Nouveau prix :{{ prod.newPrice}} €</h4>
                <p>Disponible à partir du :
                    {{ prod.dateWeek | date('d-m-y')}}
                </p>
                <p>Prix sans remise :{{ prod.currentPrice }}
                    €</p>

                {% if prod.discountType == 0 %}
                    <p>Montant de la remise :{{ prod.discountValue }} €</p>
                {% else %}
                    <p>Montant de la remise :{{ prod.discountValue }} %</p>
                {% endif %}

                <p>Référence :{{ prod.idProduct }}</p>
                {% if prod.picture is not null %}
                    <img class='productPicture' src="{{ asset('uploads/images/destockage/' ~ prod.picture)}}"/>
                {% endif %}
                <div class="container">
                    <div class="updateButton">
                        <button data-id="{{ prod.id }}" data-price="{{ prod.currentPrice}}" data-new-price="{{ prod.newPrice}}" 
                                data-discount-value="{{ prod.discountValue }}" data-path="{{path('update_view', {'id' : prod.id }) }}" class="btn btn-info updateEvent">Modifier</button>
                    </div>
                    <div class="deleteButton">
                        <a href="{{ path('delete_product_view', { 'id': prod.id }) }}">
                            <button class="btn btn-danger deleteEvent">Supprimer</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    {% endfor %}



    <h2> {{weekTitle1}} </h2>
    <div id="noProduct1"></div>
    <div id="viewProducts1">
        {% for product1 in showProducts %}
            {% if product1.showDateWeek | date('Y-m-d') == dateSaturday1 %}
                <div class="row">
                    <div class="col-xs-6 col-md-4 borderNewProduct">
                        <p>Référence :
                            {{ product1.showIdProduct }}</p>
                        <p>Libellé :
                            {{ product1.showWording }}</p>
                        <p>Prix Actuel :
                            {{ product1.showCurrentPrice | number_format(2,'.') }}€</p>
                        {% if sumProductVisibility < 3 %}
                            <div class="container">
                                <div class="newButton">
                                    <button type="button" data-id="{{ product1.id }}" class="btn btn-info editProduct" 
                                    data-backdrop="false" data-toggle="modal" data-path="{{path('new_view', {'id' : product1.id }) }}" data-target="#myModal{{ product1.id }}">Créer une remise</button>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <h2> {{weekTitle2}} </h2>
    <div id="noProduct2"></div>
    <div id="viewProducts2">
        {% for product2 in showProducts %}
            {% if product2.showDateWeek | date('Y-m-d') == dateSaturday2 %}
                <div class="row">
                    <div class="col-xs-6 col-md-4 borderNewProduct">
                        <p>Référence :
                            {{ product2.showIdProduct }}</p>
                        <p>Libellé :
                            {{ product2.showWording }}</p>
                        <p>Prix Actuel :
                            {{ product2.showCurrentPrice | number_format(2,'.') }}€</p>
                        {% if sumProductVisibility < 3 %}
                            <div class="container">
                                <div class="newButton">
                                    <button type="button" data-id="{{ product2.id }}" class="btn btn-info editProduct" 
                                    data-backdrop="false" data-toggle="modal" data-path="{{path('new_view', {'id' : product2.id }) }}" data-target="#myModal{{ product2.id }}">Créer une remise</button>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <h2> {{weekTitle3}} </h2>
    <div id="noProduct3"></div>
    <div id="viewProducts3">
        {% for product3 in showProducts %}
            {% if product3.showDateWeek | date('Y-m-d') == dateSaturday3 %}
                <div class="row">
                    <div class="col-xs-6 col-md-4 borderNewProduct">
                        <p>Référence :
                            {{ product3.showIdProduct }}</p>
                        <p>Libellé :
                            {{ product3.showWording }}</p>
                        <p>Prix Actuel :
                            {{ product3.showCurrentPrice | number_format(2,'.') }}€</p>
                        {% if sumProductVisibility < 3 %}
                            <div class="container">
                                <div class="newButton">
                                    <button type="button" data-id="{{ product3.id }}" class="btn btn-info editProduct" 
                                    data-backdrop="false" data-toggle="modal" data-path="{{path('new_view', {'id' : product3.id }) }}" data-target="#myModal{{ product3.id }}">Créer une remise</button>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    
<div id="modal-wrapper"></div>

{% endblock %}

{% block script %}{% endblock %}

{% block footer %}{% endblock %}
