<div class="modal fade" id="myModal" role="dialog" data-backdrop="false">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Baisse de prix</h3>
            </div>

            <div class="modal-body">
                <p id='currentPrice' data-price="{{ product.currentPrice }}">
                    <h4>Prix Actuel :
                        {{ product.currentPrice | number_format(2,'.') }}€
                    </h4>
                </p>
                <p id='newPrice'></p>
                <p id='errorsNewProduct'></p>
                {{ form_start(formNew, {'attr' : {'enctype': "multipart/form-data", 'class' : "form-horizontal", 'autocomplete':'off','id':'newProductForm'}}) }}
                <div class="form-group">
                    {{ form_label(formNew.title, "Titre de l'annonce", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                    <div class="col-sm-8">
                        {{ form_widget(formNew.title, {'attr' : { 'type' : 'text' }}) }}
                        {{ form_errors(formNew.title) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(formNew.discountType, "Type de réduction", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                    <div class="col-sm-8">
                        {{ form_widget(formNew.discountType) }}
                        {{ form_errors(formNew.discountType) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(formNew.discountValue, "Montant de la remise", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                    <div class="col-sm-8">
                        {{ form_widget(formNew.discountValue, {'type' : 'number'}) }}
                        {{ form_errors(formNew.discountValue) }}
                    </div>

                </div>
                
                <div class="form-group">
                    {{ form_label(formNew.priority, "Priorité", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                     <div class="col-sm-8">
                        {{ form_widget(formNew.priority, {'type' : 'number'}) }}
                        {{ form_errors(formNew.priority) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(formNew.picture, "Photo", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                    <div class="col-sm-8">
                        <label class="btn btn-default btn-file">
                            Choisir la photo
                            {{ form_widget(formNew.picture) }}
                        </label>
                        {{ form_errors(formNew.picture)}}

                    </div>
                </div>
            
                <div class="form-group" id="image_preview" class='col-lg-10 col-lf-offest-2'>
                    <div class='thumbnail hidden'>
                        <img src="">
                        <div class ='caption'>
                            <h4></h4>
                            <p><button class ='btn btn-sm btn-danger' type='button' name='annulateButton'>Annuler</button></p>
                        </div>
                    </div>
                </div>

                <p id='catchError'></p>

                <div class="newProduct-footer modal-footer">
                    {{ form_end(formNew) }}
                </div>
            </div>
        </div>
    </div>

</div
